<!DOCTYPE html>
<html>
  <head>
    <title>5oclock</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>5oclock</h1>
    <nav>
      <% if (user) { %>
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google">LOG IN WITH GOOGLE</a>
      <% } %>
    </nav>
  </body>
</html>
