<%- include('./_partials/head') %>

<div class="container">
    <h1 class="title">Its 5 o'clock somewhere</h1>


  <div class="search-bar">

        <div class="dropdown-panel">
          <form class="form-inline" action="/spots/search" method="GET">
            <input type="text" name="location" class="form-control" placeholder="Current Location or Enter City/Zipcode">
            <input type="hidden" name="lat">
            <input type="hidden" name="lng">
            <button type="search" class="btn btn-primary">search</button>
        </form>
      </div>
  </div>
</div>


    <script>
      navigator.geolocation.getCurrentPosition(position => {
        console.log(position);
        var inp = document.querySelector('input[name="lat"]');
        inp.value = position.coords.latitude;
        inp = document.querySelector('input[name="lng"]');
        inp.value = position.coords.longitude;
      });
    </script>
 


 <%- include('./_partials/footer') %>
