<head>
        <title>5oclock</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Do+Hyeon" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Candal" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=McLaren" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lily+Script+One" rel="stylesheet">


</head>


<div class="container">
    <% if (user) { %>
      <a class ="log-in-text-main-page" href="/logout">LOG OUT</a>
    <% } else { %>
      <a class ="log-in-text-main-page" href="/auth/google">LOG IN WITH GOOGLE</a>
    <% } %>
  <div class="center-container">

    <h1 class="title">Its 5 o'clock somewhere</h1>
  </div>
  
</div> 

<div class="icons-container">
  <img src="https://i.imgur.com/BknJzrE.png" height="50" width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="https://i.imgur.com/vVYStQZ.png" height="50" width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="https://i.imgur.com/csEF1NU.png" height="50" width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="https://i.imgur.com/Ur3mpxG.png" height="50" width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="https://i.imgur.com/DFhTh3X.png" height="50" width="70">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</div>

    <div class="search-bar">

        <form class="col-sm-12" action="/spots/search" method="GET">
          <input type="text" name="location" class="form-control" id="main-search-bar" placeholder="Current Location or Enter City/Zipcode">
          <input type="hidden" name="lat">
          <input type="hidden" name="lng">
          <button type="search" class="btn btn-primary" id="main-search-btn">search</button>
      </form>
    
    </div>

    <hr id="landing-page-divider">


    <script>
      navigator.geolocation.getCurrentPosition(position => {
        console.log(position);
        var inp = document.querySelector('input[name="lat"]');
        inp.value = position.coords.latitude;
        inp = document.querySelector('input[name="lng"]');
        inp.value = position.coords.longitude;
      });
    </script>
 


 <%- include('./_partials/footer') %>
