a:hover {
  text-decoration: none;
}


.log-in-text {
  color: white;
  background-color: black;
  padding: 10px;
}

.log-in-text-main-page {
  color: white;
  background-color: black;
  padding: 10px;
  position: fixed;
  margin-top: -230px;
  text-decoration: none;
  font-size: 15px;
}

.btn btn-primary {
  display: inline;
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

#main-search-btn {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}


#nav {
  background-color: #F7F6F5;
  width: 100%;
  height: 70px;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}


.container {
  background: url(https://i.imgur.com/VWg1tL4.jpg) center no-repeat;
  background-size: cover;
  height: 650px;
  width: 100%;
  justify-content: center;
  padding-top: 250px;
}

.center-container {
  background-color: rgba(255, 255, 255, .2);
  width: 50%;
  height: 270px;
  padding-top: 10px;
  text-align: center;
  margin: 0 auto; 
}


.title {
  font-size: 110px;
  font-family: 'Homemade Apple', cursive;
  text-align: center;
  color: black;
}


.search-panel {
  padding-top: 5px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #DFB465;
  border: none;
  height: 50px;
  width: 90px;
  font-size: 18px;
  outline: none;
}

.icons-container {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.tag-line-text {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: gray;
}

#landing-page-divider {
  margin-top: 20px;
  height: 2px;
  width: 80%;
  background-color: rgb(171, 171, 171);
  border: none;
}

#spot-divider {
  margin-top: 10px;
  height: 3px;
  width: 85%;
  background-color: rgb(171, 171, 171);
  border: none;
  box-shadow: 5px 15px 15px -10px black;
}


ul {
  list-style-type: none;
}

.title-link {
  margin-top: -15px;
  position: absolute;
  left: 45%;
}

.home-link {
  font-size: 60px;
  text-decoration: none;
  font-family: 'Homemade Apple', cursive;
  color: black;
  letter-spacing: -1px;
}

.home-link:hover {
  text-decoration: none;
}

#category {
  width: 200px;
  margin-left: 10px;
}

#price {
  width: 200px;
}

.form-control {
  display: inline;
}

#daysHelp {
  width: 200px;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  text-align: center;
}

#main-search-bar {
  height: 50px;
  width: 600px;
}

#keyword-search-bar {
  height: 50px;
  width: 300px;
}

#map {
  height: 365px; 
  width: 60%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 5px;
  box-shadow: 0px -20px 10px -20px black;
}

.search-divider {
  margin-top: 100px;
  margin-bottom: -60px;
}

.search-results {
  margin-top: -100px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.search-results-panel {
  display: flex;
  flex-direction: column;
}

.results-list {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  margin-top: 80px;
  margin-right: 30px;
  height: 350px;
}

.spots-name {
  margin-bottom: -10px;
  margin-left: 140px;
  position: relative;
  background-color: rgba(171, 171, 171, .3);
}

.search-results img {
  height: 240px;
  width: 350px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  box-shadow: 0px -10px 10px -10px black;
}


.show-spot-container {
  display: flex;
  flex-direction: row;
  margin: 5px 40px 5px 100px;
}

.show-left-spot-container {
  margin-top: 50px;
  width: 30%;
}

.show-spot-right-container {
  margin-left: 80px;
  margin-top: 10px;
  width: 60%;
  display: flex;
  flex-direction: row;
  background-color: #FAFBFC;
  padding: 20px;
}

.show-spot-container img {
  height: 350px;
  width: 500px;
  box-shadow: 0px -10px 10px -10px black;
}

.show-spot-name-text {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

#spot-name {
  font-size: 40px;
}

.search-results-container {
  display: flex;
  flex-direction: row;
}

.list-group-item {
  border: none;
}

.name-divider {
  margin-top: 20px;
  height: 30px;
}

.website-text {
  word-wrap: break-word;
} 

#specials-form {
  visibility: hidden;
  position: fixed;
  right: 150px;
  margin-top: 30px;
}

#specialContent {
  width: 330px;
  height: 40px;
  margin-top: -2px;
}

#specialDays, #specialhours {
  margin-left: 90px;
  width: 200px;
}

.show-container {
  display: flex;
  flex-direction: column;
}

.forms-container{
  display: flex;
  flex-direction: column;
}

#formButton {
  background-color: #DFB465;
  border: none;
  height: 50px;
  width: 150px;
  font-size: 20px;
  color: white;  outline: none;
  box-shadow:none !important;
  border-radius: 10px;
}



#current-specials-text {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  text-align: center;
  background-color: #FAFBFC;
}

.secondary-content {
  background-color: white;
  border: none;
}

.spot-info-panel {
  width: 100%;
}

.forms-panel {
  margin-top: 60px;
}

#submitBtn {
  width: 80px;
  height: 25px;
  font-size: 15px;
  margin-top: -20px;
  padding: 2px;
}

input[type="text"], textarea, button {
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}

.votes-container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.show-specials {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-left: 40px;
}

.specials-box {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 15px;
  border: 3px dashed gray;
  text-align: center;
  padding: 10px;
  background-color: #F7F6F5;
}

.special-label {
  color: orange;
}

#upBtn, #downBtn {
  font-size: 20px;
  border: none !important;
  background-color: #F7F6F5;
}

.deleteBtn {
  font-size: 20px;
  border: none !important;
  background-color: #F7F6F5;
}
