<div class="container">
    <h3>Add a new special</h3>
    <form>
        <div class="form-group">
            <label for="category">Select a category</label>
                <select class="form-control" id="category">
                    <option selected>Select</option>
                    <option value="Food">Food</option>
                    <option value="Drink">Drink</option>
                    <option value="Food & Drink">Food & Drink</option>
                    <option value="Other">Other</option>
                </select>
        </div>
        <h4>When is this special available?</h4>
        <div>
            <div class="form-group">
                <label for="specialDays">Day(s)</label>
                <input type="days" class="form-control" id="specialDays" aria-describedby="daysHelp" placeholder="Enter days">
                <small id="daysHelp" class="form-text text-muted">e.g. "Mon-Thurs", "Tues & Weds", or "Weekends"</small>
            </div>
            <div class="form-group">
                <label for="specialHours">Hours</label>
                <input type="hours" class="form-control" id="specialhours" aria-describedby="hoursHelp" placeholder="Enter hours">
                <small id="hoursHelp" class="form-text text-muted">e.g. "All Day", "5-8 PM", "After 6PM" </small>
            </div>
        </div>
        
        <div class="form-group">
            <label for="specialContent">Describe the special</label>
            <textarea class="form-control" id="specialContent" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>