<div class="container">
    <h3>Add a new special</h3>
    <form action="/spots/<%= spot.id %>/specials" method="POST">
        <div class="form-group">
            <label for="category">Select a category</label>
                <select class="form-control" id="category" name="category">
                    <option selected>Select</option>
                    <option value="Food">Food</option>
                    <option value="Drink">Drink</option>
                    <option value="Food & Drink">Food & Drink</option>
                    <option value="Other">Other</option>
                </select>
        </div>
        <div class="form-group">
            <label for="price">Select a price range</label>
                <select class="form-control" id="price" name="price">
                    <option selected>Select</option>
                    <option value="$">$ ($1-$12)</option>
                    <option value="$$">$$ ($13-$24)</option>
                    <option value="$$$">$$$ ($25-$36)</option>
                    <option value="$$$$">$$$$ ($37+)</option>
                </select>
        </div>
        <h4>When is this special available?</h4>
        <div>
            <div class="form-group">
                <label for="specialDays">Day(s)</label>
                <input type="text" class="form-control" id="specialDays" aria-describedby="daysHelp" placeholder="Enter days" name= "when[days]"><br>
                <small id="daysHelp" class="form-text text-muted">e.g. "Mon-Thurs", "Tues & Weds", or "Weekends"</small>
            </div>
            <div class="form-group">
                <label name="specialHours">Hours</label>
                <input type="hours" class="form-control" id="specialhours" aria-describedby="hoursHelp" placeholder="Enter hours" name= "when[hours]"><br>
                <small id="hoursHelp" class="form-text text-muted">e.g. "All Day", "5-8 PM", "After 6PM" </small>
            </div>
        </div>
        
        <div class="form-group">
            <label for="specialContent">Describe the special</label>
            <textarea class="form-control" id="specialContent" rows="3" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>